@font-face {
    font-family: 'Figtree';
    src: url('./assets/fonts/Figtree-VariableFont_wght.ttf') format('truetype');
    font-weight: 500 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Figtree';
    src: url('./assets/fonts/Figtree-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: 500 800;
    font-style: italic;
    font-display: swap;
}

*{
    box-sizing: border-box;
}
body {
    font-family: 'Figtree', sans-serif;
    background-color: hsl(47, 88%, 63%);
    margin: 0;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
.container {
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    border: 1px solid hsl(0, 0%, 7%);
    box-shadow: 8px 8px 0 0 hsl(0, 0%, 7%);
    overflow: hidden;
    width: 310px;
    padding: 20px;
}
.article-image {
    width: 100%;
    height: auto;
    border-radius: 20px;
}

.article-type {
    color:  hsl(0, 0%, 7%);
    font-size: 16px;
    font-weight: 800;
    background-color: hsl(47, 88%, 63%);
    padding: 8px;
    border-radius: 5px;
    width: fit-content;
}
.date {
    color: hsl(0, 0%, 7%);
    font-size: 14px;
    margin: 10px 0;
}
.article-title {
    color: hsl(0, 0%, 7%);
    font-size: 20px;
    
    font-weight: 800;
}
p.article-details {
    color: hsl(0, 0%, 42%);
    font-size: 16px;
    line-height: 1.5;
}
.author-details {
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.author-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}
.author-name {
    color: hsl(0, 0%, 7%);
    font-size: 16px;
    font-weight: 800;
}